{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

<h1>Registrierung für das <a href="https://{{ host }}">Bundesliga Tippspiel</a></h1>
<p>
    Hallo {{ username }}! Vielen Dank dass du dich dazu entschieden hast, dich
    bei <a href="https://{{ host }}">{{ host }}</a> zu registrieren.
</p>

<p>
    Um deine Registrierung vollständig abzuschließen,
    besuche bitte den untenstehenden Link:
</p>

<a href="https://{{ target }}?user_id={{ user_id }}&confirm_key={{ confirm_key }}">
    {{ target }}?user_id={{ user_id }}&confirm_key={{ confirm_key }}
</a>

<p>
    Wenn du dich nicht für das Tippspiel registriert hattest, kannst du diese Email
    einfach ignorieren.
</p>

<p>Viel Spaß beim Tippen!</p>
