{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

<div class="columns is-vcentered has-text-centered is-hidden-mobile bet-row{% if first %}-top{% elif last %}-bottom{% endif %}">
    <div class="column is-1">
        {% include "betting/bet_row/logo_home.html" %}
    </div>
    <div class="column is-2 bets-table-text">
        <a tabindex="-1" href="{{ url_for("information.team", team_id=match.home_team.id) }}">
            <p><b>{{ match.home_team.short_name }}</b></p>
        </a>
    </div>
    <div class="column is-3">
        <div class="columns">
            <div class="column">
                {% include "betting/bet_row/input_home.html" %}
            </div>
            <div class="column">
                {% include "betting/bet_row/input_away.html" %}
            </div>
        </div>
    </div>
    <div class="column is-1">
        {% include "betting/bet_row/points.html" %}
    </div>
    <div class="column is-1 score-col">
        {% include "betting/bet_row/score.html" %}
    </div>
    <div class="column is-2 bets-table-text">
        <a tabindex="-1" href="{{ url_for("information.team", team_id=match.away_team.id) }}">
            <p>{{ match.away_team.short_name }}</p>
        </a>
    </div>
    <div class="column is-1">
        {% include "betting/bet_row/logo_away.html" %}
    </div>
    <div class="column is-1">
        {% include "betting/bet_row/info.html" %}
    </div>
</div>
