{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

<!--betting/seasons.html-->
{% extends "core/base_layout.html" %}
{% block body %}

    <h1>Saisonwetten</h1>

    <h3>Bis zum 18. Spieltag kann getippt werden</h3>
    <hr>

    <div class="columns has-text-centered">
        <div class="column is-8">
            <h2>Tabelle</h2>
            <form action="{{ url_for("betting.place_season_position_bets") }}"
                  method="post">
                <table class="table is-bordered is-striped has-text-centered season-position-bets-table">
                    <colgroup>
                        <col span="1" class="season-position-bets-position">
                        <col span="1" class="season-position-bets-team">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    {% for team, position_bet in position_bets %}
                        {% include "betting/season_position_row.html" %}
                    {% endfor %}
                </table>

                {% if not closed %}
                    {% with button_name="Bestätigen" %}
                        {% include "components/forms/submit_button.html" %}
                    {% endwith %}
                {% endif %}
            </form>
        </div>
        <div class="column is-4">
            <h2>Teamwetten</h2>
            <form action="{{ url_for("betting.place_season_team_bets") }}"
                  method="post">
                {% for bet_type, team_bet in team_bets %}
                    {% include "betting/season_team_row.html" %}
                {% endfor %}
                {% if not closed %}
                    {% with button_name="Bestätigen" %}
                        {% include "components/forms/submit_button.html" %}
                    {% endwith %}
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}
