{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "components/base_layout.html" %}
{% block body %}

    <h1>Saisonwetten</h1>

    <h3>Bis zum 18. Spieltag kann gesetzt werden</h3>

    <ul>
        <li>Meister</li>
        <li>Absteiger</li>
        <li>Evtl einfach eine Tabelle</li>
        <li>Wer schießt die meisten Tore?</li>
        <li>Wer schießt die wenigsten Tore?</li>
        <li>Wer bekommt die meisten Gegentore?</li>
        <li>Wer bekommt die wenigsten Gegentore?</li>
        <li>Wer bekommt die meisten gelben Karten?</li>
        <li>Wer bekommt die meisten roten Karten?</li>
        <li>Wer schießt die meisten Eigentore?</li>
    </ul>

{% endblock %}
