{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

<tr id="position_row_{{ team.id }}">
    <td class="is-hidden-mobile">
        <b>{{ position_bet.position }}</b>
        <!--suppress HtmlFormInputWithoutLabel -->
        <input autocomplete="off" name="position_{{ team.id }}" value="{{ position }}" hidden>
    </td>
    <td>
        <button type="button" onclick="moveSeasonPositionRow({{ team.id }}, -1)" class="button">
            <i class="fas fa-arrow-up"></i>
        </button>
        <button type="button" onclick="moveSeasonPositionRow({{ team.id }}, 1)" class="button">
            <i class="fas fa-arrow-down"></i>
        </button>
    </td>
    <td>
        <a href="{{ url_for("information.team", team_id=team.id) }}">
            <p class="is-hidden-mobile bets-table-text"><b>{{ team.name }}</b></p>
            <p class="is-hidden-tablet bets-table-text"><b>{{ team.short_name }}</b></p>
        </a>
    </td>
    <td>
        <img src="{{ team.icon_svg }}" class="season-position-logo-image" alt="{{ team.shortname }}">
    </td>
</tr>
