.idea/
*.iml
cover/
.coverage
*.egg-info/
dist/
build/
.env
.sass-cache/
bundesliga_tippspiel/static/javascript/min.js
bundesliga_tippspiel/static/node_modules/
bundesliga_tippspiel/static/scss/*.css
bundesliga_tippspiel/static/scss/*.css.map
bundesliga_tippspiel/static/package-lock.json