<!--
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends "base_layout.html" %}
{% block body %}
    <h1>Anmelden</h1>
    <p>
        Fülle die folgenden Einträge aus, um dich anzumelden:
    </p>
    <br>
    <form id="register-form" class="form mt-2 mt-md-0 ml-auto" method="post" action="{{ url_for('register') }}">
        <input class="form-control register-form-entry" name="username" placeholder="Username" aria-label="username" autocomplete="on" type="text">
        <input class="form-control register-form-entry" name="password" placeholder="Passwort" aria-label="password" autocomplete="current-password" type="password">
        <input class="form-check" name="remember" aria-label="Merken?" type="checkbox">
        <button type="submit" class="btn btn-primary">Registrieren</button>
    </form>

{% endblock %}
