<!--div class="container">
	<hr>
	<div class="row">
	    <div class="col-sm-12">
	    	<span>
	    		<h5>© Hermann Krumrey 2017</h5>
	    	</span>>
	        
	    </div>
	</div>
</div-->

<div class="container">
	<nav class="navbar navbar-default">
	    <div class="container-fluid">
	        <div id="navbar" class="navbar-collapse collapse">
				<p class="nav navbar-nav navbar-left">
					© Hermann Krumrey 2017
				</p>
	            <p class="nav navbar-nav navbar-RIGHT">
	            	Version @$$VERSION
	            </p>
	        </div>
	    </div>
	</nav>
</div>
