<hr>

<div class="container">
	<nav class="navbar navbar-default">
	    <div class="container-fluid">
	    	<div class="navbar-header">
            	<a class="navbar-brand" href="about.php">@$ABOUT_NAV</a>
        	</div>
	        <div id="navbar" class="navbar-collapse collapse">
	        	<ul class="nav navbar-nav navbar-left">
					<li>
						<a href="contact.php">© Hermann Krumrey 2017</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
	            		<a href="#">Version @$$VERSION</a>
	            	</li>
	            </ul>
	        </div>
	    </div>
	</nav>
</div>
