<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.php">@$NAVBAR_TITLE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li @HOME_SELECTED>
                    <a href="index.php">@$HOME_NAV</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-expanded="false">@$THEMES_NAV
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li @NAV_ACTIVE_DEFAULT>
                            <a href="@NAV_LINK_DEFAULT">@$DEFAULT_THEME</a>
                        </li>
                        <li @NAV_ACTIVE_TERMINAL>
                            <a href="@NAV_LINK_TERMINAL">@$TERMINAL_THEME</a>
                        </li>
                    </ul>
                </li>
                <li @NAV_ACTIVE_DE> 
                    <a href="@NAV_LINK_DE">@$GERMAN_LANG</a>
                </li>
                <li @NAV_ACTIVE_EN> 
                    <a href="@NAV_LINK_EN">@$ENGLISH_LANG</a>
                </li>
            </ul>
        </div>
    </div>
</nav>