{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "core/base_layout.html" %}
{% block body %}
    <div class="columns">
        <div class="column is-1 is-offset-1">
            <h1>
                {% if last_page is not none %}
                    <a href="{{ url_for("chat.chat",page=last_page) }}">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                {% endif %}
            </h1>
        </div>
        <div class="column is-6 is-offset-1"><h1>Chat</h1></div>
        <div class="column is-1 is-offset-1">
            <h1>
                {% if next_page is not none %}
                    <a href="{{ url_for("chat.chat", page=next_page) }}">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                {% endif %}
            </h1>
        </div>
    </div>

    <form action="{{ url_for("chat.new_chat_message") }}" method="post">
        <div class="field">
            <label class="label">
                Neues Kommentar
                <textarea name="text" class="textarea" rows="3" minlength="1" maxlength="255"></textarea>
            </label>
        </div>
        <div class="has-text-right">
        {% with button_name="Schicken" %}
            {% include "components/forms/submit_button.html" %}
        {% endwith %}
        </div>
    </form>

    <hr>

    <div class="container is-fluid">
        {% for message in messages %}
            {% include "chat/comment.html" %}
        {% endfor %}
    </div>

{% endblock %}
