{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

<div class="columns is-vcentered comment-row {% if message.get_text() is none %}comment-deleted{% endif %}">
    <div class="column is-2">
        {% if message.user is none %}
            [Gelöscht]
        {% else %}
            {{ message.user.username }}
        {% endif %}
    </div>
    <div class="column is-9">
        {% if message.get_text() is none %}
            [Gelöscht]
        {% else %}
            {{ message.get_text() }}
        {% endif %}
    </div>
    <div class="column is-1 has-text-centered is-vcentered">
        {% if message.user_id == current_user.id and not message.deleted %}
            <form method="post" action="{{ url_for("chat.delete_chat_message", message_id=message.id) }}">
                <button type="submit" class="button is-danger">X</button>
            </form>
        {% endif %}
    </div>
</div>
