<h3>@{HOME_SUMMARY_GREETING}</h3>
<p>@{HOME_SUMMARY_EXPLANATION}</p>

<p>@{HOME_SUMMARY_POINTS_EXPLANATION}</p>
<ul class="list-group">
    <li class="list-group-item">@{HOME_SUMMARY_POINTS_EXACT}<span class="badge">4</span></li>
    <li class="list-group-item">@{HOME_SUMMARY_POINTS_GOAL_DIFFERENCE}<span class="badge">3</span></li>
    <li class="list-group-item">@{HOME_SUMMARY_POINTS_GOAL_DIFFERENCE_DRAW}<span class="badge">2</span></li>
    <li class="list-group-item">@{HOME_SUMMARY_POINTS_CORRECT_WINNER}<span class="badge">2</span></li>
</ul>
<p>@{HOME_SUMMARY_POINTS_BONUS}</p>