<div class="col-sm-3 comments">
    <form class="form-horizontal" action="actions/comment.php" method="post" style="margin: 1em">
        <fieldset>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control" placeholder="Your comment here" id="new_comment" name="new_comment" type="text">
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="comment-list">
        <table class="table .table-striped">
            <tbody>

            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>Me</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-04-12:10-47-26</small></small></small>
                        </div>
                    </div>
                </td>
                <td class="comment">Ja?</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-10:01-55-16</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=4022">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Heute sind wieder Spiele, alle müssen tippen!</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-10:01-51-28</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=4021">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Welche Abkürzungen?</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-10:09-45-18</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=4019">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">UNIX</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-10:09-45-08</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=4018">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Ich könnte auch einfach UNIZ timestamps hier anzeigen :)</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-10:09-44-49</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=4017">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Jetzt wo du drauf hinweist, irgendwas stimmt mit der Zeit nicht ganz.</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-09:07-02-59</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=4014">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">https://tippspiel.krumreyh.com/match.php?match_id=39813</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-09:07-02-48</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=4013">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Zum Beispiel:</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-09:07-02-32</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=4012">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Ja, nachdem die Spiele angefangen haben</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-07:05-45-15</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=4010">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Doch! Zumindest auf der Demo Seite :)</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-06:12-32-04</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=4006">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Keine gelöschten Kommentare mehr :)</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-06:01-07-27</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=4004">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Test</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-06:01-04-50</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=4002">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Nicht die Kommentarfunktion so missbrauchen :(</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-06:12-02-32</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=4001">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Ach Thomas :|</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-05:08-50-51</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=12">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Besser?</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-05:08-30-48</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=8">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Der Knopf ist noch in Development :)</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-05:08-30-28</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=7">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Irgendwas stimmt bei meider Berechnung der Punkte nicht ganz</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>abc</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-05:08-30-03</small></small></small>
                        </div>
                    </div>
                </td>
                <td class="comment">Wieso habe ich eigentlich einen Punkt? Ich habe noch nicht mal einen Tipp abgegeben!</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-05:08-29-19</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=5">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">Bitte nicht! :)</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>abc</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-05:08-29-17</small></small></small>
                        </div>
                    </div>
                </td>
                <td class="comment">Der Knopf a) geht nicht und b) sieht aus wie von 1930.</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>abc</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-05:08-28-53</small></small></small>
                        </div>
                    </div>
                </td>
                <td class="comment">Also nochmal 1440 Kommentare pro Person in 24 Stunden?</td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><b>namboy94</b></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><small><small>2017-02-05:07-52-07</small></small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a role="button" class="btn btn-danger" href="actions/delete-comment.php?comment=1">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
                <td class="comment">So, jetzt fangen wir wieder von vorn an!</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>