<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
    <table class="table .table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>@{MATCH_MINUTE_TITLE}</th>
                <th>#{HOME_NAME_TITLE}</th>
                <th>@{MATCH_SCORER_TITLE}</th>
                <th>#{AWAY_NAME_TITLE}</th>
            </tr>
        </thead>
        <tbody>
        &{GOALS}
        </tbody>
    </table>
    </div>
    <div class="col-sm-3"></div>
</div>