<div class="row">
    <div class="col-sm-3">
        <img class="center-block" src="#{HOME_ICON}">
    </div>
    <div class="col-sm-6">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <h1>#{HOME_SCORE}</h1>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-2">
                    <h1>#{HOME_SCORE}</h1>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <img class="center-block" src="#{AWAY_ICON}">
    </div>
</div>