<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

    <table class="table .table-striped">
        <thead class="thead-inverse">
        <tr>
            <th>@{MATCH_BETLIST_USER_TITLE}</th>
            <th>#{HOME_NAME_TITLE}</th>
            <th>#{AWAY_NAME_TITLE}</th>
            <th><th>@{MATCH_BETLIST_POINTS_TITLE}</th></th>
        </tr>
        </thead>
        <tbody>
            &{ENTRIES}
        </tbody>
    </table>
</div>
    <div class="col-sm-2"></div>
</div>