{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "components/base_layout.html" %}
{% block body %}
    <h1>Registrierung</h1>
    <p>
        Fülle die folgenden Einträge aus, um dich für das Tippspiel zu
        registrieren:
    </p>

    <br>

    <div class="container form-container">
        <form method="post" action="{{ url_for("register") }}">
            <div class="form-group">
                <label for="email_input">Email Adresse</label>
                <input class="form-control"
                       type="email"
                       autocomplete="on"
                       id="email_input"
                       aria-label="email"
                       placeholder="Email"
                       name="email">
            </div>
            <div class="form-group">
                <label for="username_input">Benutzername</label>
                <input class="form-control"
                       type="text"
                       autocomplete="on"
                       id="email_input"
                       aria-label="username"
                       placeholder="Username"
                       name="username">
            </div>
            <div class="form-group">
                <label for="password_input">Passwort</label>
                <input class="form-control"
                       type="password"
                       autocomplete="on"
                       id="password_input"
                       aria-label="password"
                       placeholder="Passwort"
                       name="password">
            </div>
            <div class="form-group">
                <label for="password_repeat_input">Passwort (Wiederholen)</label>
                <input class="form-control"
                       type="password"
                       autocomplete="on"
                       id="password_repeat_input"
                       aria-label="password-repeat"
                       placeholder="Passwort"
                       name="password-repeat">
            </div>
            <br>
            <div {% if env == "production" %}
                    data-sitekey="6Le5xGkUAAAAABOfWC_-qAxU0vVCnHGHQPdpVv-_"
                 {% else %}
                    data-sitekey="6LcrHGoUAAAAAD_1_3bl64e7ElwGAE395Km8OfRC"
                 {% endif %}
                    class="g-recaptcha">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Registrieren</button>
        </form>
    </div>

{% endblock %}
