<div class="row">
    <div class="col-sm-5 text-center">
        <!--label for="team_one"
           class="col-sm-4 control-label text-right">@TEAM_ONE</label-->
        <h5>@TEAM_ONE</h5>
    </div>
    <div class="col-sm-1">
        <input class="form-control"
               id="team_one"
               min="0"
               value="@DEFAULT_ONE"
               type="number"
               name="@NAME_ONE">
    </div>
    <div class="col-sm-1">
        <input class="form-control"
               id="team_two"
               min="0"
               value="@DEFAULT_TWO"
               type="number"
               name="@NAME_TWO">
    </div>
    <div class="col-sm-5 text-center">
        <!--label for="team_two"
               class="col-sm-4 control-label">@TEAM_TWO</label-->
        <h5>@TEAM_TWO</h5>
    </div>
</div>