<div class="row">
    <div class="col-sm-5 text-center">
        <h5>@TEAM_ONE <span><img class="logo-image" src="@ICON_ONE"></span></h5>

    </div>
    <div class="col-sm-1">
        <input class="form-control"
               id="@NAME_ONE"
               min="0"
               max="1000"
               @DISABLED
               @DEFAULT_ONE
               type="number"
               name="@NAME_ONE">
    </div>
    <div class="col-sm-1">
        <input class="form-control"
               id="@NAME_TWO"
               min="0"
               max="1000"
               @DISABLED
               @DEFAULT_TWO
               type="number"
               name="@NAME_TWO">
    </div>
    <div class="col-sm-5 text-center">
        <h5>@TEAM_TWO <span><img class="logo-image" src="@ICON_TWO"></span></h5>
    </div>
</div>