<!-- Copyright Hermann Krumrey <hermann@krumreyh.com> 2017

    This file is part of bundesliga-tippspiel.

    bundesliga-tippspiel is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    bundesliga-tippspiel is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
-->
<li class="list-group-item">
    <div class="row">
        <a href="@MATCH_URL">
            <div class="col-sm-5 text-center">
                <h5>@TEAM_ONE <span><img class="logo-image" src="@ICON_ONE"></span></h5>
            </div>
        </a>
        <div class="col-sm-1">
            <input class="form-control"
                   id="@NAME_ONE"
                   min="0"
                   max="1000"
                   @DISABLED
                   @DEFAULT_ONE
                   type="number"
                   name="@NAME_ONE">
        </div>
        <div class="col-sm-1">
            <input class="form-control"
                   id="@NAME_TWO"
                   min="0"
                   max="1000"
                   @DISABLED
                   @DEFAULT_TWO
                   type="number"
                   name="@NAME_TWO">
        </div>
        <a href="@MATCH_URL">
            <div class="col-sm-5 text-center">
                <h5>@TEAM_TWO <span><img class="logo-image" src="@ICON_TWO"></span></h5>
            </div>
        </a>
    </div>
</li>