<!-- Copyright Hermann Krumrey <hermann@krumreyh.com> 2017

    This file is part of bundesliga-tippspiel.

    bundesliga-tippspiel is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    bundesliga-tippspiel is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
-->
<form class="form-horizontal" action="actions/bet.php" method="post">
    <legend class="text-center">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
                <a href="@PREV_URL">@PREV_ARROW</a>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6">@TITLE</div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
                <a href="@NEXT_URL">@NEXT_ARROW</a>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </legend>
    <fieldset>
        <ul class="list-group">
            @ELEMENTS
        </ul>
        <hr>
        <div class="form-group">
            <div class="col-lg-12 text-center">
                <button type="submit" class="btn btn-primary">@SUBMIT</button>
            </div>
        </div>
    </fieldset>
</form>