<!-- Copyright Hermann Krumrey <hermann@krumreyh.com> 2017

    This file is part of bundesliga-tippspiel.

    bundesliga-tippspiel is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    bundesliga-tippspiel is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
-->
<form class="form-horizontal" action="actions/comment.php" method="post" style="margin: 1em">
    <fieldset>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary">@$COMMENT_SUBMIT_BUTTON</button>
                </div>
                <div class="col-sm-9">
                    <input class="form-control"
                           placeholder="@$YOUR_COMMENT_HERE_TEXT"
                           type="text"
                           id="new_comment"
                           name="new_comment">
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div class="comment-list">
    <table class="table .table-striped">
        <tbody>
            @COMMENTS
        </tbody>
    </table>
</div>
