{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

<div class="field">

    {% if label_name is not none %}
        <label class="label">{{ label_name }}</label>
    {% endif %}

    {% if icon_name is not none %}
        <p class="control has-icons-left">
    {% endif %}

    <input class="input"
           type="{{ input_type }}"
           autocomplete="{{ "on" if input_type != "password" else "off" }}"
           {% if placeholder is not none %}placeholder="{{ placeholder }}"{% endif %}
           {% if value is not none %}value="{{ value }}"{% endif %}
           {% if min_value is not none %}min="{{ min_value }}"{% endif %}
           {% if max_value is not none %}max="{{ max_value }}"{% endif %}
           {% if step is not none %}step="{{ step }}"{% endif %}
           {% if disabled %}disabled{% endif %}
           aria-label="{{ var_name }}"
           name="{{ var_name }}">

    {% if icon_name is not none %}
        <span class="icon is-small is-left">
            <i class="fas fa-{{ icon_name }}"></i>
        </span>
    {% endif %}
    </p>
</div>
