{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

<div class="field">
    <div class="control">
        <button
                class="button is-link
                      {% if category is not none %}is-{{ category }}{% endif %}
                      {% if use_recaptcha %}g-recaptcha{% endif %}
                      "
                {% if use_recaptcha %}
                    data-action="submit"
                    data-sitekey="{{ config.RECAPTCHA_SITE_KEY }}"
                    data-callback="onRecaptchaSubmit"
                {% endif %}
                type="submit"
        >
            {{ button_name }}
        </button>
        {% if use_recaptcha %}
            <script>
                function onRecaptchaSubmit(_) {
                    document.getElementById("{{ form_name }}").submit();
                }
            </script>
        {% endif %}
    </div>
</div>
