<tr class="comment">
    <td>
        <div class="row">
            <div class="col-sm-12 comment_username">
                <small><small><b>#{USERNAME}</b></small></small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 comment_timestamp">
                <small><small><small>#{TIMESTAMP}</small></small></small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a role="button" class="btn btn-danger comment_delete_button" href="actions/delete_comment.php?comment=#{ID}">
                    @{COMMENT_DELETE_BUTTON_TITLE}
                </a>
            </div>
        </div>
    </td>
    <td class="comment_content">#{CONTENT}</td>
</tr>