<div class="col-sm-3 comments">
    <form class="form-horizontal" action="actions/comment.php" method="post" style="margin: 1em">
        <fieldset>
            <div class="form-group">
                <div class="row container-fluid">
                    <input class="form-control" placeholder="@{COMMENT_PLACEHOLDER}" id="#{CONTENT_ID}" name="#{CONTENT_ID}" type="text">
                    <button type="submit" class="btn btn-primary comment_submit">@{COMMENT_SUBMIT_BUTTON_TITLE}</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="comment-list">
        <table class="table .table-striped" border="1">
            <tbody>
                &{COMMENTS}
            </tbody>
        </table>
    </div>
</div>