.champlates-form-button-col {
    text-align: center;
}

.champlates-form-button-button {

}

.champlates-form-recaptcha {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}