.comment_submit {
    width: 90%;
    margin-left: 5%;
}

.comment_text {

}

.comments {
    height: 50em;
    border-bottom-left-radius: 10px;
    background: #FFCF79;
}



.comment-list {
    overflow: auto;
    height: 41em;
    background: #E5E4D7;
}

.comment {
    -moz-word-break: break-all;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens:auto;
}
