.main-content {
    margin-top: 20px;
}

.jumbo-bg {
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: #a2b97c;
}

.jumbo-text {
}

.navbar {
    margin-bottom: 0;
}

html,body {
    height: 100%
}

.jumbotron {
    margin-bottom: 0;
}