{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "components/base_layout.html" %}
{% block body %}
    {% set count=False %}
    <div class="row">
        <div class="col-md-6">
            <h1>Rangliste Hinrunde</h1>
            {% set leaderboard=first_leaderboard %}
            {% include "components/ranking_table.html" %}
        </div>
        <div class="col-md-6">
            <h1>Rangliste Rückrunde</h1>
            {% set leaderboard=second_leaderboard %}
            {% include "components/ranking_table.html" %}
        </div>
    </div>
    {% set count=True %}
    <div class="row">
        <div class="col-md-6">
            <h1>Korrekte Tipps</h1>
            {% set leaderboard=max_leaderboard %}
            {% include "components/ranking_table.html" %}
        </div>
        <div class="col-md-6">
            <h1>Komplett falsche Tipps</h1>
            {% set leaderboard=zero_leaderboard %}
            {% include "components/ranking_table.html" %}
        </div>
    </div>
    <div class="row">
        <h1>Punkte pro Team</h1>
        {% include "components/team_points_table.html" %}
    </div>
{% endblock %}
