{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "core/base_layout.html" %}
{% block body %}
    <h1>{{ team.name }}</h1>
    <br>
    <div class="container has-text-centered">
        <img src="{{ team.icon_svg }}" class="team-logo" alt="{{ team.name }}">
    </div>

    <hr>

    <h3>Tendenz</h3>
    <table class="table is-bordered is-striped has-text-centered equal-column-table">
        <thead>
            <tr>
                <th>Gegner</th>
                {% for  opponent_id, opponent_name, _, _, _ in matches %}
                    <th>
                        <a href="{{ url_for("information.team", team_id=opponent_id) }}">
                            {{ opponent_name }}
                        </a>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ergebnis</td>
                {% for _, _, score, result, match_id in matches %}
                    <td class="match-history-{{ result }}">
                        <a href="{{ url_for("betting.match", match_id=match_id) }}">
                            {{ score }}
                        </a>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <hr>

    <h3>Torschützen</h3>
    <table class="table is-bordered is-striped has-text-centered equal-column-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Tore</th>
            </tr>
        </thead>
        <tbody>
            {% for player, goal_count in goals %}
                <tr>
                    <td>{{ player }}</td>
                    <td>{{ goal_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
