{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "core/base_layout.html" %}
{% block body %}
    <h1>{{ current_user.username }}</h1>

    <hr>

    <h2>Passwort ändern</h2>

    <form method="post" action="{{ url_for("user_management.change_password") }}">
        {% with label_name="Derzeitiges Passwort", placeholder="Passwort",
                var_name="old_password", icon_name="lock" %}
            {% include "components/forms/password_input.html" %}
        {% endwith %}
        {% with label_name="Neues Passwort", placeholder="Passwort",
                var_name="new_password", icon_name="lock" %}
            {% include "components/forms/password_input.html" %}
        {% endwith %}
        {% with label_name="Neues Passwort (Wiederholen)", placeholder="Passwort",
                var_name="password_repeat", icon_name="lock" %}
            {% include "components/forms/password_input.html" %}
        {% endwith %}
        {% with button_name="Ändern" %}
            {% include "components/forms/submit_button.html" %}
        {% endwith %}
    </form>

    <hr>

    <h2>Erinnerungen</h2>

    <form method="post" action="{{ url_for("reminder.set_reminder") }}">
        {% with label_name="Stunden vor Spielbeginn",
                min_value=1, max_value=48, step=1,
                value=24 if reminder_time is none else (reminder_time / 3600)|int,
                var_name="hours", icon_name="clock" %}
            {% include "components/forms/number_input.html" %}
        {% endwith %}
        {% for reminder_type, reminder in reminder_settings.items() %}
            {% with label_name=reminder_type.value.title(), var_name=reminder_type.value,
                    checked=reminder is not none and reminder.active %}
                {% include "components/forms/bool_input.html" %}
            {% endwith %}
        {% endfor %}
        {% with button_name="Aktualisieren" %}
            {% include "components/forms/submit_button.html" %}
        {% endwith %}
    </form>

    <hr>

    <h2>Telegram Chat ID</h2>
    <p>
        Um Erinnerungen mittels Telegram zu erhalten, musst du zunächst
        deine Telegram Chat ID registrieren.
        Diese Chat ID erhältst du, indem du die Nachricht "/whoami" and den
        <a href="http://t.me/bundesliga_tippspiel_bot">
            HK-Tippspiel Telegram Bot
        </a>
        sendest.
    </p>

    <form method="post" action="{{ url_for("user_management.register_telegram") }}">
        {% with label_name="Telegram Chat ID", placeholder="Chat ID",
                value=None if telegram_chat_id is none else telegram_chat_id.chat_id,
                var_name="telegram_chat_id", icon_name="paper-plane" %}
            {% include "components/forms/text_input.html" %}
        {% endwith %}
        {% with button_name="Bestätigen" %}
            {% include "components/forms/submit_button.html" %}
        {% endwith %}
    </form>

    <hr>

    <h2>Andere Einstellungen</h2>

    <form method="post" action="{{ url_for("settings.misc_settings") }}">
        {% with label_name="Bots anzeigen", var_name="display_bots",
                checked=display_bots_setting is not none and display_bots_setting.display_bots %}
            {% include "components/forms/bool_input.html" %}
        {% endwith %}
        {% with button_name="Bestätigen" %}
            {% include "components/forms/submit_button.html" %}
        {% endwith %}
    </form>

    <hr>

    <h2>Account löschen</h2>

    <form method="post" action="{{ url_for("user_management.delete_user") }}">
        {% with label_name="Derzeitiges Passwort", placeholder="Passwort",
                var_name="password", icon_name="lock" %}
            {% include "components/forms/password_input.html" %}
        {% endwith %}
        {% with button_name="Löschen", category="danger" %}
            {% include "components/forms/submit_button.html" %}
        {% endwith %}
    </form>
{% endblock %}
