{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "core/base_layout.html" %}
{% set requires_recaptcha=True %}
{% block body %}
    <h1>Registrierung</h1>
    <p>
        Fülle die folgenden Einträge aus, um dich für das Tippspiel zu
        registrieren:
    </p>

    <hr>

    <form id="register-form" method="post" action="{{ url_for("user_management.register") }}">
        {% with label_name="Email Adresse", placeholder="Email",
                var_name="email", icon_name="envelope" %}
            {% include "components/forms/text_input.html" %}
        {% endwith %}
        {% with label_name="Benutzername", placeholder="Username",
                var_name="username", icon_name="user" %}
            {% include "components/forms/text_input.html" %}
        {% endwith %}
        {% with label_name="Passwort", placeholder="Passwort",
                var_name="password", icon_name="lock" %}
            {% include "components/forms/password_input.html" %}
        {% endwith %}
        {% with label_name="Passwort (Wiederholen)", placeholder="Passwort",
                var_name="password-repeat", icon_name="lock" %}
            {% include "components/forms/password_input.html" %}
        {% endwith %}
        {% with button_name="Registrieren", use_recaptcha=True, form_name="register-form" %}
            {% include "components/forms/submit_button.html" %}
        {% endwith %}
    </form>
{% endblock %}
