{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "core/base_layout.html" %}
{% set requires_recaptcha=True %}
{% block body %}
    <h1>Registrierung</h1>
    <p>
        Fülle die folgenden Einträge aus, um dich für das Tippspiel zu
        registrieren:
    </p>

    <br>

    <form id="register-form" method="post" action="{{ url_for("user_management.register") }}">
        <div class="field">
            <label class="label">Email Adresse</label>
            <input class="input"
                       type="text"
                       autocomplete="on"
                       aria-label="email"
                       placeholder="Email"
                       name="email">
        </div>
        <div class="field">
            <label class="label">Benutzername</label>
            <input class="input"
                       type="text"
                       autocomplete="on"
                       aria-label="username"
                       placeholder="Username"
                       name="username">
        </div>
        <div class="field">
            <label class="label">Passwort</label>
            <input class="input"
                       type="password"
                       autocomplete="on"
                       aria-label="password"
                       placeholder="Passwort"
                       name="password">
        </div>
        <div class="field">
            <label class="label">Passwort (Wiederholen)</label>
            <input class="input"
                       type="password"
                       autocomplete="on"
                       aria-label="password-repeat"
                       placeholder="Passwort"
                       name="password-repeat">
        </div>
        <div class="field">
            <div class="control">
                <button
                    type="submit"
                    class="button is-link g-recaptcha"
                    data-action="submit"
                    data-sitekey="{{ config.RECAPTCHA_SITE_KEY }}"
                    data-callback="onSubmit">
                Zurücksetzen
            </button>
            <script>
                function onSubmit(_) {
                    document.getElementById("register-form").submit();
                }
            </script>
            </div>
        </div>
    </form>
{% endblock %}
