{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

<footer class="footer">

    <div class="row footer-row">
        <div class="col-md-4 footer-col">
            <a href="mailto:hermann@krumreyh.com">
                © 2017-2018 Hermann Krumrey
            </a>
        </div>
        <div class="col-md-4 footer-col">
            <a href="{{ url_for("about") }}">Impressum</a>
            |
            <a href="{{ url_for("privacy") }}">Datenschutzerklärung</a>
        </div>
        <div class="col-md-3 footer-col">
            <a href="https://www.python.org/">
                <img class="dependency-logo"
                     src="{{ url_for('static', filename='python-logo.png') }}">
            </a>
            <a href="http://flask.pocoo.org/">
                <img class="dependency-logo"
                     src="{{ url_for('static', filename='flask-logo.png') }}">
            </a>
            <a href="https://www.sqlalchemy.org/">
                <img class="dependency-logo"
                     src="{{ url_for('static', filename='sqlalchemy-logo.png') }}">
            </a>
        </div>
        <div class="col-md-1 footer-col">
            <a href="https://gitlab.namibsun.net:/namibsun/python/bundesliga-tippspiel">
                V{{ version }}
            </a>
        </div>
    </div>

</footer>
