{#
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
#}

<table class="table table-striped table-bordered leaderboard-table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Team</th>
            <th scope="col">Punkte</th>
        </tr>
    </thead>
    <tbody>
        {% for index, (team, points) in team_points %}
            <tr>
                <td>{{ index + 1 }}</td>
                <td>
                    <a href="{{ url_for("team", team_id=team.id) }}">
                        {{ team.name }}
                    </a>
                </td>
                <td>{{ points }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
