/**
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
*/

@import "colors";

// Styles the table tendency icons
.tendency-icon {
    .fas {
        margin-right: 10px;
    }
    .fa-chevron-circle-up {
        color: $success-color;
    }
    .fa-chevron-circle-down {
        color: $danger-color;
    }
    .fa-minus-circle {
        color: $warning-color;
    }
}

/**
 Tries to tame the resizing behaviour of the ranking chart
 */
.ranking-chart-container {
    position: relative;
    width:80vw;
}

.fa-crown {
    color: $crown-color !important;
}

// Styling for the rankings table
.ranking-table {
    .first {
        width: 15%;
    }
    .second {
        width: 65%;
    }
    .third {
        width: 20%;
    }
}
