/**
Copyright 2017 Hermann Krumrey <hermann@krumreyh.com>

This file is part of bundesliga-tippspiel.

bundesliga-tippspiel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

bundesliga-tippspiel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with bundesliga-tippspiel.  If not, see <http://www.gnu.org/licenses/>.
*/

@import "colors";

/**
 Styling for the top navbar
 */
.top-navbar {
    max-height: 3.25rem; // Ensures that the navbar is not too big
}

/**
 Styling for the logo in the navbar
 */
.brand-image {
    max-height: 40px; // Ensures that the logo does not exceed the navbar
}

/**
 Styling for the currently selected navbar item
 */
.active {
    font-weight: bold;
    background: $navbar-active-background-color;
}

/**
 Used to add some space between the login entries
 */
.navbar-login-spacing {
    margin-right: 1em;
}

/**
 Ensures that the navbar menu is the same color when expanded on mobile
 */
.navbar-menu {
    background: $dark-color;
}
.navbar-item {
    color: $dark-text-color;
}
.navbar-dropdown {
    background: $dark-color;
}

/**
 Styles the navbar logout button
 */
.fa-sign-out-alt {
    color: $dark-text-color;
}
